<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pop-up</title>
    <script type="module" src="/src/component/pop-up/main.js"></script>
    <link rel="stylesheet" href="../../styles/style.scss" />
  </head>
  <body>
    <dialog class="pop-up-container">
      <a href="/" class="quick-link"></a>
      <div class="button-container">
        <button type="button" id="hidePopup">오늘 하루 안 보기</button>
        <button type="button" id="closePopup">닫기</button>
      </div>
    </dialog>
  </body>
</html>
