<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/style.scss" />
    <script src="./main.js"></script>
  </head>
  <body>
    <div class="recent-product-container">
      <button type="button" class="upper-arrow">
        <img src="./assets/upper.svg" alt="" />
      </button>
      <p>최근 본 상품</p>
      <div class="recent-product-item-container"></div>
      <button class="below-arrow">
        <img src="./assets/below.svg" alt="" />
      </button>
    </div>

    <div>
      <a id="product1" href="">라면</a>
      <a href="product2">세제</a>
      <a href="product3">파운데이션</a>
    </div>
  </body>
</html>
