<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/style.scss" />
    <script type="module" src="./main.js"></script>
  </head>
  <body>
    <aside class="recent-product-container">
      <button type="button" class="recent-product__button upper-arrow">
        <img src="./assets/upper.svg" alt="" />
      </button>
      <p>최근 본 상품</p>
      <div class="added-item-container"></div>
      <button type="button" class="recent-product__button below-arrow">
        <img src="./assets/below.svg" alt="" />
      </button>
    </aside>

    <div id="product1" href="">라면</div>
  </body>
</html>
