<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banner</title>
    <link rel="stylesheet" href="/src/styles/style.scss" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="/src/component/banner/banner.js"></script>
  </head>
  <body>
    <section class="banner">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <a href="" class="swiper-slide">
            <img
              src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/j8u39bdcbpn2vo8/banner01_ZTsyB9lGRW.png"
              alt="배너" />
          </a>
          <a href="" class="swiper-slide">
            <img
              src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/vn63dp49seepr7x/banner02_on052O1YLY.png"
              alt="배너" />
          </a>
          <a href="" class="swiper-slide">
            <img
              src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/2t9jl6mrepiao7r/banner03_dSn1IGLpQA.png"
              alt="배너" />
          </a>
          <a href="" class="swiper-slide">
            <img
              src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/trzzdvbq2t7gooz/banner05_DlNCKwScX2.png"
              alt="배너" />
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
