<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/styles/sr-only.css" />
    <link rel="stylesheet" href="/src/styles/style.scss" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      type="module"
      src="/src/component/product/product-slide.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="product-slide">
      <section class="swiper-container">
        <h2>이 상품 어때요?</h2>
        <button
          type="button"
          class="swiper-button-prev"
          aria-label="이전 버튼"
          tabindex="-1"></button>
        <div class="swiper-wrapper">
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__description">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
          <article class="swiper-slide product">
            <h3 class="sr-only">제품 상세</h3>
            <div class="visual">
              <a href="" class="visual__link">
                <img
                  src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
              </a>
              <button class="visual__add-cart" aria-label="장바구니 담기">
                <img
                  src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
                  alt="장바구니 담기" />
              </button>
            </div>
            <div class="info">
              <!-- <p class="info__delivery">샛별배송</p> -->
              <p class="info__product__title">
                [온더바디] 죠르디 시카 자석 선쿠션
              </p>
              <p class="info__product__price">
                <span class="info__sale__price">50%</span> 32,500 원
              </p>
              <p class="info__product__original-price">65,000 원</p>
              <p class="info__product__subtitle">
                끈적임 없이 보송한 무기자차 선쿠션
              </p>
              <div class="badge__group">
                <p class="badge badge__karly">Karly Only</p>
                <p class="badge badge__text">한정수량</p>
              </div>
            </div>
          </article>
        </div>
        <button
          type="button"
          class="swiper-button-next"
          aria-label="다음 버튼"
          tabindex="-1"></button>
      </section>
    </div>
  </body>
</html>
