<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Info</title>
    <link rel="stylesheet" href="/src/styles/style.scss" />
  </head>
  <body>
    <section class="product__info">
      <aside class="">
        <div class="product__img__container">
          <img
            src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/oaadansr1f30wwd/product01_xXHrpWtSPH.png"
            alt="상품사진"
          />
        </div>
      </aside>
      <main class="product__info__container">
        <article>
          <h2 class="title__primary">샛별배송</h2>
          <h1>[풀무원] 탱탱쫄면 (4개입)</h1>
          <h3 class="title__secondary">튀기지 않아 부담 없는 매콤함</h3>
          <h3 class="title__price">
            <span class="price__emphasis">4,980</span> 원
          </h3>
          <p class="text__primary__color">로그인 후, 적립 혜택이 제공됩니다.</p>
        </article>
        <table class="product__info__table">
          <colgroup>
            <col style="width: 128px" />
            <col style="width: auto" />
          </colgroup>
          <tr>
            <th>배송</th>
            <td>
              <strong class="product__info text__label__small">샛별배송</strong>
              <p>23시 전 주문 시 내일 아침 7시 전 도착</p>
              <p>(대구, 부산, 울산 샛별배송 운영시간 별도 확인)</p>
            </td>
          </tr>
          <tr>
            <th>판매자</th>
            <td>칼리</td>
          </tr>
          <tr>
            <th>포장타입</th>
            <td>
              상온포장<br />
              <p>택배배송은 에코 포장이 스티로폼으로 대체됩니다.</p>
            </td>
          </tr>
          <tr>
            <th>판매단위</th>
            <td>1봉</td>
          </tr>
          <tr>
            <th>중량/용량</th>
            <td>123g*4봉</td>
          </tr>
          <tr>
            <th>원산지</th>
            <td>상세페이지 별도표기</td>
          </tr>
          <tr>
            <th>알레르기정보</th>
            <td>
              <ul>
                <li>대두, 밀, 쇠고기 함유</li>
                <li>
                  계란, 우유, 메밀, 땅콩, 고등어, 게, 돼지고기, 새우, 복숭아,
                  토마토, 아황산류, 호두, 잣, 닭고기, 오징어, 조개류(굴, 전복,
                  홍합 포함)를 사용한 제품과 같은 제조시설에서 제조
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>상품선택</th>
            <td>
              <div class="product__count">
                <p>[풀무원] 탱탱쫄면 (4개입)</p>
                <div class="product__count__price">
                  <div class="product__count__button">
                    <button type="button">
                      <img
                        src="/public/images/icon-minus-disabled.svg"
                        alt=""
                      />
                    </button>
                    <div class="product__count__box">
                      <p class="text__price">1</p>
                    </div>
                    <button type="button">
                      <img src="/public/images/icon-plus-disabled.svg" alt="" />
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <article class="product__price__container">
          <div class="product__final__price">
            <p class="text__price">
              총 상품금액: <span class="price__emphasis">4,980</span>원
            </p>
            <p class="text__price">
              <span class="badge__accent">적립</span>로그인 후, 적립 혜택 제공
            </p>
          </div>
          <div class="product__button__container">
            <button
              class="button__stroke__lightgray button__icon__large button__default"
              type="button"
            >
              <img src="/images/icon-heart.svg" alt="" />
            </button>
            <button
              class="button__stroke__lightgray button__icon__large"
              type="button"
            >
              <img src="/images/icon-bell.svg" alt="" />
            </button>
            <button class="button__fill button__full" type="button">
              장바구니 담기
            </button>
          </div>
        </article>
      </main>
    </section>
  </body>
</html>
