<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 장바구니 추가 버블</title>
    <link rel="stylesheet" href="/src/styles/style.scss" />
  </head>
  <body style="display: flex; justify-content: center; align-items: center">
    <add-to-cart-bubble></add-to-cart-bubble>
    <!--     
    <div class="product__bubble">
      <div class="bubble__image__container">
        <img id="productImg" />
      </div>
      <div class="bubble__text__container">
        <h3 id="productName">상품이름</h3>
        <p>장바구니에 상품을 담았습니다.</p>
      </div>
    </div> -->
  </body>
</html>
