<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/style.scss" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      type="module"
      src="/src/component/product/product-slide.js"></script>
    <title>Document</title>
  </head>
  <body>
    <section class="product-slide">
      <div class="swiper-container">
        <h2>이 상품 어때요?</h2>
        <button
          type="button"
          class="swiper-button-prev"
          aria-label="이전 버튼"
          tabindex="-1"></button>
        <div class="swiper-wrapper"></div>
        <button
          type="button"
          class="swiper-button-next"
          aria-label="다음 버튼"
          tabindex="-1"></button>
      </div>
    </section>
  </body>
</html>
