<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <div class="product__container">
      <div class="visual">
        <img src="" alt="상품 사진" />
        <button type="button" class="button__icon">
          <img src="" alt="장바구니 담기" />
        </button>
        <div class="info">
          <p class="info__delivery">샛별배송</p>
          <h1 class="info__product__title">
            [온더바디] 죠르디 시카 자석 선쿠션
          </h1>
          <h2 class="info__product__price"><span>50%</span>32,500 원</h2>
          <p class="info__product__price__original">65,000 원</p>
          <p class="info__product__subtitle">자외선을 차단하는 시카 선쿠션</p>
          <div class="badge__group">
            <div class="badge__primary">Karly Only</div>
            <div class="badge__default">한정수량</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
