<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/styles/style.scss" />
  </head>
  <body>
    <div class="product__container">
      <div class="visual">
        <img
          src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ijklnxd2h128afe/product02_l5ax9Bonou.png"
          alt="상품 사진"
        />
        <button type="button" class="button__icon">
          <img
            src="https://eight-lane-highway.pockethost.io/api/files/gvvvhy46u0pq19y/ddn8bpfq6fsglu8/cart_sfurEEgmWu.svg"
            alt="장바구니 담기"
          />
        </button>
      </div>
      <div class="info">
        <p class="info__delivery">샛별배송</p>
        <h1 class="info__product__title">[온더바디] 죠르디 시카 자석 선쿠션</h1>
        <h2 class="info__product__price">
          <span class="info__sale__price">50%</span> 32,500 원
        </h2>
        <p class="info__product__price__original">65,000 원</p>
        <p class="info__product__subtitle">자외선을 차단하는 시카 선쿠션</p>
        <div class="badge__group">
          <span class="badge badge__karly">Karly Only</span>
          <span class="badge badge__text">한정수량</span>
        </div>
      </div>
    </div>
  </body>
</html>
