<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <link rel="stylesheet" href="/src/styles/sr-only.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/src/styles/style.scss" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      type="module"
      src="/src/component/product/product-slide.js"></script>
    <title>Document</title>
  </head>
  <body>
    <section class="swiper-container">
      <h2>이 상품 어때요?</h2>
      <div class="swiper-wrapper">
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/3df368c8-e124-4d06-a9e9-af4c10d01b53.jpeg?v=0531" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/fcd99289-84fb-43ad-824d-fee38efe93f2.jpg" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/772bc265-0e85-4489-a4f2-f42e1ee94a15.jpg" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/a68f6340-0b47-4929-9266-314dca796093.jpg?v=0531" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/3df368c8-e124-4d06-a9e9-af4c10d01b53.jpeg?v=0531" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/fcd99289-84fb-43ad-824d-fee38efe93f2.jpg" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
        <article class="swiper-slide">
          <h3 class="sr-only">제품 상세</h3>
          <a href="">
            <img
              src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/772bc265-0e85-4489-a4f2-f42e1ee94a15.jpg" />
          </a>
          <button class="add-cart">
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_7901_430)">
                <path
                  opacity="0.5"
                  d="M22.5 45C34.9264 45 45 34.9264 45 22.5C45 10.0736 34.9264 0 22.5 0C10.0736 0 0 10.0736 0 22.5C0 34.9264 10.0736 45 22.5 45Z"
                  fill="#2A0038" />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4901 17.29L29.3201 26.52H16.9001L14.7401 17.29H31.4901Z"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M27.3801 32.94C28.3189 32.94 29.0801 32.1789 29.0801 31.24C29.0801 30.3011 28.3189 29.54 27.3801 29.54C26.4412 29.54 25.6801 30.3011 25.6801 31.24C25.6801 32.1789 26.4412 32.94 27.3801 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M18.85 32.94C19.7889 32.94 20.55 32.1789 20.55 31.24C20.55 30.3011 19.7889 29.54 18.85 29.54C17.9111 29.54 17.15 30.3011 17.15 31.24C17.15 32.1789 17.9111 32.94 18.85 32.94Z"
                  stroke="white"
                  stroke-width="1.2"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
                <path
                  d="M11.03 14.38H14.05L15.46 20.36"
                  stroke="white"
                  stroke-width="1.4"
                  stroke-linecap="square"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_7901_430">
                  <rect width="45" height="45" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
          <p class="name">[풀무원] 탱탱쫄면 (4개입)</p>
          <p class="price">4,980 원</p>
        </article>
      </div>
      <button
        type="button"
        class="swiper-button-prev"
        aria-label="이전 버튼"></button>
      <button
        type="button"
        class="swiper-button-next"
        aria-label="다음 버튼"></button>
    </section>
  </body>
</html>
