<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제품 세부 정보 하단부</title>
    <link rel="stylesheet" href="/src/styles/style.scss" />
  </head>
  <body>
    <section class="product__detail">
      <article>
        <ul class="product__detail__menu">
          <li class="product__detail__menu__item is__clicked">상품 설명</li>
          <li class="product__detail__menu__item">상세 정보</li>
          <li class="product__detail__menu__item">후기(1,000)</li>
          <li class="product__detail__menu__item">문의</li>
        </ul>
      </article>
      <article class="product__detail__info_container">
        <img src="/images/jjolmeon.png" alt="jjolmeon이미지" />
        <div class="product__detail__info_container_title">
          <span>튀기지 않아 부담없는 매콤함</span>
          <p>[풀무원] 탱탱쫄면</p>
        </div>
        <div class="product__detail__info_container_main">
          <span>
            쫄면의 진가는 매콤새콤한 양념과 탱탱한 면발에서 찾을 수 있지요.
            풀무원은 이 맛을 더 부담 없이 즐길 수 있도록 튀기지 않고 만든
            탱탱쫄면을 선보입니다. 밀가루와 감자 전분을 적절히 배합해 탄력이
            좋고, 입에 넣었을 때는 찰지게 씹히죠. 고추장을 넣어 숙성한 비빔장은
            자연스럽고 깊은 맛을 냅니다. 간단하게 조리해 마지막 한 가닥까지
            탱탱한 식감을 즐겨보세요. 취향에 따라 다양한 고명을 올려 드셔도
            좋아요.
          </span>
        </div>
        <div class="product__detail__info_container_checkpoint">
          <article class="checkpoint__header">
            <hr />
            <span>Karly's Check Point</span>
            <hr />
          </article>
          <img src="/images/checkpoint.png" alt="Karly's Check Point 이미지" />
        </div>
      </article>
      <article class="product__detail__details_container">
        <img src="/images/jjolmeon-detail-info.png" alt="쫄면 상세 정보" />
        <article class="product__detail__details_container__why">
          <p>WHY KARLY</p>
          <article class="why__carly__intro">
            <article class="intro__upper">
              <div class="why__carly__intro__item"></div>
              <div class="why__carly__intro__item"></div>
              <div class="why__carly__intro__item"></div>
            </article>
            <article class="intro__lower">
              <div class="why__carly__intro__item"></div>
              <div class="why__carly__intro__item"></div>
            </article>
          </article>
        </article>
      </article>
    </section>
  </body>
</html>
