<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagination</title>
    <link rel="stylesheet" href="/src/styles/style.scss" />
  </head>
  <body>
    <nav class="pagination__container">
      <ul class="page__container">
        <li class="page__item" aria-label="첫번째 페이지 이동">
          <a href="/"><span class="move-icon__first"></span></a>
        </li>
        <li class="page__item" aria-label="이전 페이지 이동">
          <a href="/"><span class="move-icon__left"></span></a>
        </li>
        <li class="page__item" aria-label="1 페이지 이동"><a href="/">1</a></li>
        <li class="page__item" aria-label="2 페이지 이동"><a href="/">2</a></li>
        <li class="page__item" aria-label="3 페이지 이동"><a href="/">3</a></li>
        <li class="page__item" aria-label="다음 페이지 이동">
          <a href="/"><span class="move-icon__right"></span></a>
        </li>
        <li class="page__item" aria-label="마지막 페이지 이동">
          <a href="/"><span class="move-icon__last"></span></a>
        </li>
      </ul>
    </nav>
  </body>
</html>
