<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../../styles/style.scss" />
    <link rel="stylesheet" href="../../styles/sr-only.css" />
    <script type="module" src="./footer.js"></script>
  </head>
  <body>
    <footer id="footer" class="footer">
      <section class="footer-section">
        <h2 class="sr-only">컬리 고객센터 및 회사 소개</h2>
        <article class="">
          <h3 class="">고객행복센터</h3>
          <p></p>
          <p></p>
        </article>
        <article>
          <h3 class></h3>
        </article>
      </section>
    </footer>
  </body>
</html>
