.basket-container {
  @include size(396px, auto);
  @include flexAll($fd: column, $gap: 28px);
  border-radius: 16px;
  box-shadow: 0px 8px 36px 0px rgba(0, 0, 0, 0.2);
  padding: 24px 20px;

  // 상품 숫자 입력 영역

  &__product__num__container {
    width: 100%;

    p {
      margin-bottom: 12px;
      @include font($color: $black, $fs: 1rem, $fw: 600, $lh: 150%);
    }

    &__box {
      @include flexAll($jc: space-between, $at: center);
      span {
        @include font($color: $black, $fs: 1rem, $fw: 600, $lh: 150%);
      }
    }
  }

  // 가격 영역

  &__price__container {
    width: 100%;
    &__sum {
      @include flexAll($jc: space-between);
      margin-bottom: 2px;
      span {
        @include font($color: $darkBlack, $fs: 1rem, $fw: 600, $lh: 150%);
      }
      #total {
        @include font($color: $darkBlack, $fs: 1.75rem, $fw: 700, $lh: 140%);
      }
    }
    &__bonus {
      @include flexAll($jc: right);
      span {
        text-align: right;
        @include font($color: $darkBlack, $fs: 1rem, $fw: 600, $lh: 150%);
      }
    }
  }

  // 버튼 모음 영역

  &__btn_container {
    @include flexAll($jc: space-between, $gap: 8px);
    width: 100%;

    &__items {
      @include flexAll();
    }
  }
}

.price_counter {
  @include flexAll($jc: space-between, $at: center);
  width: 84px;
  border: 1px solid $gray200;

  button {
    @include size(30px, 30px);
    background-color: $white;
    border: none;

    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}

.modal {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
}

.basket-container__price__container__bonus {
  align-items: center;

  p {
    border-radius: 0;
  }
}
