.badge__group {
  @include flexAll($fd: row, $jc: flex-start, $at: stretch);
  gap: 8px;
}

.badge {
  background-color: $gray100;
  padding: 4px 8px;
  border-radius: 4px;
  @include font($fs: 0.75rem, $fw: 600);
  margin-right: 6px;

  &__karly {
    color: $primaryColor;
  }
  &__text {
    color: $black;
  }
  &__accent {
    background-color: $accentColor;
    color: $white;
    border-radius: 12px;
    font-size: 0.625rem;
    margin-right: 6px;

    &.badge__sm__bd {
      padding: 0 8px;
      border-radius: 1px;
    }
  }
  &__secondary {
    background-color: $secondaryColor;
    border-radius: 1px;
    color: $white;
    padding: 3px 8px;
  }
  &__primary {
    &__outline {
      padding: 2px 8px;
      background-color: $white;
      border: 1px solid $primaryColor;
    }
  }
}
