.badge__group {
  .badge {
    background-color: $gray100;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 600;

    &__karly {
      color: $primaryColor;
    }
    &__text {
      color: $black;
    }
  }
}
