.banner {
  position: relative;
  .swiper {
    .swiper-wrapper {
      @include size($w: 100%, $h: 100%);

      .swiper-slide {
        @include size($w: 100%, $h: 100%);

        img {
          @include size($w: 100%, $h: 100%);
          object-fit: contain;
        }
      }
    }
  }

  &__button-container {
    @include size($w: 80%);
    @include absolute($t: 50%, $l: 50%);
    translate: -50% -50%;
    opacity: 0;
    transition: ease opacity 0.5s;
    z-index: 1;

    button {
      @include size($w: 50px, $h: 50px);
      background-image: url("/images/next-button-white.svg");
      background-repeat: no-repeat;

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      rotate: 180deg;
    }
  }

  .swiper-pagination {
    @include absolute($b: 25px, $r: 25%);
    @include font($fs: 0.75rem, $fw: 600, $lh: 150%, $color: $white);
    border-radius: 12px;
    background-color: rgba(64, 64, 64, 0.3);
    padding: 0px 12px;
    width: auto;
  }

  &__button-container.is__show {
    opacity: 1;
  }
}
