.button {
  &__stroke {
    @include buttonStyle($primaryColor, $white, $primaryColor);
  }
  &__fill {
    @include buttonStyle($white, $primaryColor, $black);
  }
  &__small {
    @include buttonSize(143px, 44px);
  }
  &__large__basket {
    @include buttonSize(174px, 54px);
  }
  &__large {
    @include buttonSize(340px, 54px);
  }
  &__icon {
    @include buttonSize(45px, 45px);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }
}
