// @mixin flexAll($fd: row, $jc: left, $at: baseline, $gap: 0) {
//   display: flex;
//   flex-direction: $fd;
//   justify-content: $jc;
//   align-items: $at;
//   gap: $gap;
// }

@mixin fontStyleStrong($fs: 1rem, $fw: 600, $lh: 150%) {
  font-family: Pretendard;
  font-size: $fs;
  font-style: normal;
  font-weight: $fw;
  line-height: $lh;
  color: $darkBlack;
}

@mixin fontStyleNormal($fs: 1rem, $fw: 400, $lh: 160%) {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: $fw;
  line-height: $lh;
  color: $darkBlack;
}
// border박스로 박스스타일 변경 후 패딩값 지정
@mixin paddingBox($pdtb, $pdrl: 0) {
  padding: $pdtb $pdrl;
  box-sizing: border-box;
}

@mixin flexSet($fd, $jc, $ac, $gp) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: nowrap;
  justify-content: $jc;
  align-content: $ac;
  gap: $gp;
}

.cart-title {
  @include size(74px, 32px);
  @include fontStyleStrong($fs: 1.333rem);
  margin: 80px auto 44px auto;
}

.cart__container {
  // border: 1px solid black;
  @include size(1050px, 709px);
  @include flexAll(row, space-between);
  margin: 0 auto;
}
.selected-item {
  &__conatiner {
    // border: 1px solid black;
    width: 712px;
    @include fontStyleStrong();
  }
  &__checkbox {
    height: 56px;
    @include paddingBox(16px);
    align-items: center;

    &__upper {
      border-bottom: 1px solid var(--black, #000);
      height: 56px;
      @include paddingBox(16px);
    }
  }
}

.food-type {
  &__container {
    // border: 1px solid blue;
    @include flexColumn(end);
    padding: 0;
  }
  &__item {
    // border: 1px solid black;
    height: 62px;
    list-style: none;
    width: 100%;
    @include paddingBox(16px);
    @include flexAll(row, space-between, center);
    border-bottom: 1px solid var(--black, #000);

    &__name {
      font-size: 1rem;
      line-height: 150%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      line-height: 150%;

      img {
        @include size(30px, 30px);
        margin-right: 12px;
      }
    }

    button {
      border: none;
      background-color: inherit;
      @include size(30px, 30px);

      img {
        @include size(100%, 100%);
      }
    }
  }
}

.adress-payment {
  &__container {
    width: 284px;
  }
}

.adress {
  &__title {
    @include fontStyleStrong();
    margin: 0;
    display: flex;
    align-items: center;
    img {
      @include size(36px, 36px);
    }
  }
  &__container {
    border: 1px solid $gray100;
    @include size(100%, 222px);
    @include paddingBox(20px, 20px);
    @include fontStyleStrong();
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
  }
  &__type {
    @include fontStyleStrong(0.75rem);
    color: var(--primary, #5f0080);
  }
  &__adress-change {
    @include buttonSize(244px, 44px);
  }
}

.payment {
  &__container {
    @include size(100%, 267px);

    @include paddingBox(20px 20px);
    border: 1px solid $gray100;
    background: $gray050;
  }
  &__detail {
    height: 100px;
    padding: 0 0 24px 0;
    border-bottom: 1px solid black;
    @include flexSet(column, center, space-between, 16px);
    li {
      list-style: none;
      @include fontStyleNormal();
      @include flexSet(row, space-between, center, 0);
    }
  }
}

.payment__total-price {
  padding: 24px 0 0 0;
  @include flexSet(row, space-between, center, 0);

  .total-price__name {
    align-content: center;
  }

  .total-price__sum {
    @include size(118px, 40px);
    @include flexSet(row, space-between, center, 0);

    &__value {
      @include fontStyleStrong(1.75rem, 700, 140%);
    }
    &__unit {
      @include fontStyleNormal();
      align-content: center;
    }
  }
}

.adress-payment__info {
}
