@mixin flexSet($fd, $jc, $ac, $gp) {
  display: flex;
  flex-direction: $fd;
  flex-wrap: nowrap;
  justify-content: $jc;
  align-content: $ac;
  gap: $gp;
}

.cart-title {
  @include size(74px, 32px);
  @include font($darkBlack, 1.333rem, 600, 150%);
  margin: 80px auto 44px auto;
}

.cart__container {
  @include size(1050px, 709px);
  @include flexAll(row, space-between);
  margin: 0 auto;
}
.selected-item {
  &__conatiner {
    width: 712px;
    @include font($darkBlack, 1rem, 600, 150%);
  }
  &__checkbox {
    height: 56px;
    padding: 16px 0;
    align-items: center;
    @include flexSet(row, space-between, center, 10px);

    &__upper {
      border-bottom: 1px solid var(--black, #000);
      height: 56px;
      padding: 16px 0;
    }
  }
}

.checkbox {
  &__group {
    width: 129px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      font-size: 0.625rem;
      border-left: 1px solid $black;
      margin: 0 8px;
      line-height: 100%;
    }
  }
  &__check-all {
    &__label {
      padding-left: 30px;
      width: 100%;
      height: 100%;
      background: url("/images/input-unchecked.svg") no-repeat left/contain;
    }
    &__box {
      position: absolute;
      width: 100%;
      height: 100%;
      // border: 1px solid red;
      appearance: none;
      margin: 0;
      top: 0;
      left: 0;
      &:checked + label {
        background-image: url(/images/input-checked.svg);
      }
    }
  }

  &__delete {
    @include font($darkBlack, 1rem, 600, 150%);
    margin-left: 16px;
  }
}

.food-type {
  &__container {
    @include flexColumn(end);
    padding: 0;
  }
  &__item {
    height: 62px;
    list-style: none;
    width: 100%;
    padding: 16px 0;
    @include flexAll(row, space-between, center);
    border-bottom: 1px solid var(--black, #000);

    &__name {
      font-size: 1rem;
      line-height: 150%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      line-height: 150%;

      img {
        @include size(30px, 30px);
        margin-right: 12px;
      }
    }

    button {
      border: none;
      background-color: inherit;
      @include size(30px, 30px);

      img {
        @include size(100%, 100%);
      }
    }
  }
}

.adress-payment {
  &__container {
    width: 284px;
  }
}

.adress {
  &__title {
    @include font($darkBlack, 1rem, 600, 150%);
    margin: 0;
    display: flex;
    align-items: center;
    img {
      @include size(36px, 36px);
    }
  }
  &__container {
    border: 1px solid $gray100;
    @include size(100%, 222px);
    padding: 20px;
    @include font($darkBlack, 1rem, 600, 150%);
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
  }
  &__type {
    @include font($darkBlack, 0.75rem, 600, 150%);
    color: var(--primary, #5f0080);
  }
  &__adress-change {
    @include buttonSize(244px, 44px);
  }
}

.payment {
  &__container {
    padding: 20px;
    border: 1px solid $gray100;
    background: $gray050;
  }
  &__detail {
    height: auto;
    padding: 0 0 24px 0;
    border-bottom: 1px dashed $gray100;
    @include flexSet(column, center, space-between, 16px);
  }
}

.price {
  &__container {
    list-style: none;
    @include font($black, 1rem, 400, 160%);
    @include flexSet(row, space-between, center, 0);
  }
  &__group {
    @include flexSet(row, space-between, center, 4px);
  }
}

.payment__total-price {
  padding: 24px 0 12px 0;
  @include flexSet(row, space-between, center, 0);

  .total-price__name {
    align-content: center;
  }

  .total-price__sum {
    @include flexSet(row, space-between, center, 4px);

    &__value {
      @include font($darkBlack, 1.75rem, 700, 140%);
    }
    &__unit {
      @include font($darkBlack, 1rem, 400, 160%);
      align-content: center;
    }
  }
}

.point__container {
  @include flexSet(row, flex-end, center, 4px);
  .point-badge {
    border-radius: 0;
  }
  .point-rate {
    @include font($black, 0.75rem, 600, 150%);
    color: $black;
  }
}

.adress-payment {
  &__order {
    @include size(284px, 44px);
    margin: 16px 0;
  }
}

.adress-payment__info {
  @include font($gray400, 0.75rem, 600, 150%);
}
