.footer {
  @include size(1050px);
  @include flexAll($fd: row, $jc: flex-start, $at: stretch, $gap: 40px);
  @include font();
  max-width: 1050px;
  margin: 0 auto;
  padding: 28px 0px 32px 0px;

  ul {
    list-style: none;
  }

  &__wrapper {
    @include flexAll($fd: column, $jc: flex-start, $at: stretch, $gap: 16px);
    flex: 1;

    &__title {
      @include font($fs: 1.375rem, $fw: 700, $lh: 140%);
    }
  }

  &__customer-service {
    @include flexAll($fd: row, $jc: flex-start, $at: center, $gap: 16px);

    .customer-service-number {
      @include font($fs: 2.375rem, $fw: 700, $lh: 140%);
    }

    .customer-service-button {
      background-color: transparent;
      border: 1px solid $gray200;
      @include size($w: 140px, $h: 40px);
      padding: 4px;
      cursor: pointer;
    }

    .customer-service-time {
      @include font($fs: 1rem, $fw: 400, $lh: 160%);
    }
  }
  .customer-center {
    @include flexAll($fd: row, $jc: flex-start, $at: center, $gap: 8px);
    @include font($fs: 1rem, $fw: 600, $lh: 150%);

    .customer-service-time {
      @include font($fw: 600, $lh: 150%);
    }
  }

  .non-member-inquiry {
    @include font($fs: 0.75rem, $fw: 400, $lh: 160%);
    a {
      color: $primaryColor;
    }
  }

  &__navigation {
    @include flexAll($fd: row, $jc: space-between, $at: center);
  }

  &__company-info {
    @include font($fs: 0.75rem, $fw: 400, $lh: 160%);
    margin-top: 15px;

    & > li {
      display: inline-block;

      &:nth-of-type(7) {
        @include size($w: 200px);
      }
      &:nth-of-type(10),
      &:nth-of-type(11) {
        @include size($w: 100%);
      }

      &:nth-of-type(1)::after,
      &:nth-of-type(2)::after,
      &:nth-of-type(4)::after,
      &:nth-of-type(6)::after,
      &:nth-of-type(8)::after {
        @include size($w: 1px, $h: 8px);
        content: "";
        display: inline-block;
        background-color: $black;
        margin-left: 4px;
      }

      a {
        color: $primaryColor;
      }
    }
  }

  &__link {
    @include flexAll($fd: row, $jc: flex-start, $at: stretch, $gap: 20px);
    margin-top: 15px;

    a {
      display: inline-block;
      @include size($w: 30px, $h: 30px);
      background-repeat: no-repeat;
      background-image: url(/images/icon-footer.png);
    }

    .blog {
      background-position: -10px -10px;
    }
    .facebook {
      background-position: -10px -60px;
    }
    .insta {
      background-position: -10px -210px;
    }
    .post {
      background-position: -10px -110px;
    }
    .youtube {
      background-position: -10px -160px;
    }
  }

  &__disclaimer {
    @include size($w: 1050px);
    @include flexAll($fd: row, $jc: space-between, $at: stretch);
    margin: 0 auto;
    padding: 24px 0px 32px 0px;
    border-top: 1px solid $gray200;

    &-link {
      background-position: -5px -366px;
      background-repeat: no-repeat;
      background-image: url(/images/icon-footer.png);
      border: none;
      @include flexAll($fd: row, $jc: center, $at: center);

      span {
        @include font($fs: 0.625rem, $fw: 400, $lh: 160%);
        text-align: left;
      }

      &:nth-of-type(1) {
        padding-left: 49px;
        background-position-y: -362px;
      }
      &:nth-of-type(2) {
        padding-left: 50px;
        background-position-y: -308px;
      }
      &:nth-of-type(3) {
        padding-left: 118px;
        background-position-y: -256px;
      }
      &:nth-of-type(4) {
        padding-left: 49px;
        background-position-y: -416px;
      }
    }
  }

  &__copyright {
    @include flexAll($fd: column, $jc: center, $at: center, $gap: 4px);
    @include size($w: 100%);
    text-align: center;
    padding: 20px 4px 32px 4px;
    background-color: #f9f9f9;
  }
}
