form {
  fieldset {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 8px;

    &.form {
      &__underline {
        border-bottom: 1px solid $black;
      }
      &__agreement {
        &__row {
          padding: 12px 0;
        }
      }
    }
  }
}
