body {
  height: 200vh;
}

.nav {
  width: 1050px;
  max-width: 1050px;
  margin: 50px auto 0px;
  position: relative;

  // contaier (s)
  &__container1 {
    display: flex;
    align-items: center;
  }
  &__container2 {
    border-bottom: 1px solid $black;
  }
  // contaier (e)
  // logo (s)
  &__logo {
    margin-right: 12px;
  }
  // logo (e)
  // user-auth-list (s)
  &__user-auth-list {
    display: flex;
    position: absolute;
    top: -30px;
    right: 13px;
    font-size: $font-small;

    .nav__user-auth-item {
      color: $black;
      position: relative;
      margin-left: 1.5rem;
    }

    .signup {
      color: $primary-color;
    }

    .signup::after,
    .login::after {
      content: "";
      position: absolute;
      top: 5px;
      right: -10px;
      width: 1px;
      height: 13px;
      background-color: $after-color;
    }

    .customer-service {
      position: relative;
      padding-bottom: 15px;

      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -10px;
        width: 8px;
        height: 5px;
        background: url("../component/header/assets/ico_down.webp") center /
          cover no-repeat;
      }

      .nav__user-auth-notice-list {
        display: none;
        position: absolute;
        top: 30px;
        right: -15px;
        z-index: 1;
        width: 130px;
        padding: 3px 9px;
        border: 1px solid $after-color;
        background-color: #fff;

        &.active {
          display: block;
        }

        .nav__user-auth-notice-item {
          margin: 0.5rem 0;
          font-size: $font-small;
        }
      }
    }
  }

  // user-auth-list (e)
  // page-list (s)

  &__page-list {
    display: flex;

    button {
      background-color: transparent;
      border: none;
      font-size: $font-large;
      font-style: normal;
      cursor: pointer;
      color: #b5b5b5;
    }

    button.active {
      font-weight: 600;
      color: $primary-color;
    }

    .market {
      & button {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 10px;
          right: 0px;
          width: 1px;
          height: 14px;
          background-color: $after-color;
        }
      }
    }

    .beauty {
      position: relative;
      margin-right: 50px;

      img {
        position: absolute;
        top: -10px;
        right: 2px;
      }
    }
  }

  // page-list (s)
  // search-box (s)
  &__search-box {
    display: flex;
    width: 400px;
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding-right: 18px;

    .search-label {
      display: none;
    }

    .search-input {
      border: none;

      &:focus {
        outline: none;
      }
    }

    .search__button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-left: auto;
    }
  }
  // search-box (e)
  // user-service-list (s)

  &__user-service-list {
    display: flex;
    gap: 20px;
    margin-left: auto;

    .nav__user-service-item-address {
      position: relative;

      &:focus {
        border: 2px solid #333;
        border-radius: 4px;
      }

      .nav__user-service-item-address-modal {
        display: none;
        position: absolute;
        padding: 2rem;
        border: 1px solid $after-color;
        width: 250px;
        top: 40px;
        left: -50px;
        background-color: #fff;
        z-index: 1;

        p {
          margin-bottom: 16px;
          font-size: $font-medium;
        }
        span {
          color: $primary-color;
        }

        button {
          border: none;
          border-radius: 4px;
          padding: 0.5rem 2rem;
          cursor: pointer;
        }

        .modal-login {
          border: 1px solid $primary-color;
          background-color: #fff;
        }
        .modal-search-address {
          background-color: $primary-color;
          color: #fff;
        }
      }

      .nav__user-service-item-address-modal.active {
        display: block;
      }
    }
  }

  // user-service-list (e)
  // product-list (s)

  &__product-list {
    display: flex;
    align-items: center;

    .nav__product-item {
      color: $black;
      font-size: $font-medium;
      font-weight: 500;
      padding: 12px 0;

      & > a:hover:not(.delivery) {
        padding-bottom: 1px;
        color: $primary-color;
      }

      & > a:hover:not(.delivery),
      & > a:hover:not(.category) {
        border: none;
      }
    }

    .category {
      margin-right: auto;
      padding-left: 30px;

      > a {
        position: relative;
      }
      > a::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -24px;
        background-image: url("../component/header/assets/category.svg");
        background-repeat: no-repeat;
        width: 16px;
        height: 14px;
      }

      &__list {
        display: none;
        border: 1px solid $black;
        position: absolute;
        left: 0px;
        top: 45px;
        max-height: 500px;
        overflow-y: scroll;
        padding: 8px 12px;

        &.active {
          display: block;
        }
      }

      &__item {
        padding: 2px 0px;
        > a {
          position: relative;
          display: inline-block;
          width: 100%;

          &:hover {
            color: $primary-color;
          }
        }
        > a::before {
          content: "";
          display: inline-block;
          background-image: url("../component/header/assets/menuImg.svg");
          background-repeat: no-repeat;
          background-size: 30px;
          background-position: -2px -1px;
          width: 24px;
          height: 24px;
        }

        &:nth-child(2) a::before {
          background-position-y: -227px;
        }
        &:nth-child(3) a::before {
          background-position-y: -402px;
        }
        &:nth-child(4) a::before {
          background-position-y: -528px;
        }
        &:nth-child(5) a::before {
          background-position-y: -75px;
        }
        &:nth-child(6) a::before {
          background-position-y: -177px;
        }
        &:nth-child(7) a::before {
          background-position-y: -351px;
        }
        &:nth-child(8) a::before {
          background-position-y: -251px;
        }
        &:nth-child(9) a::before {
          background-position-y: -128px;
        }
        &:nth-child(10) a::before {
          background-position-y: -302px;
        }
        &:nth-child(11) a::before {
          background-position-y: -51px;
        }
        &:nth-child(12) a::before {
          background-position-y: -503px;
        }
        &:nth-child(13) a::before {
          background-position-y: -454px;
        }
        &:nth-child(14) a::before {
          background-position-y: -27px;
        }
        &:nth-child(15) a::before {
          background-position-y: -201px;
        }
        &:nth-child(16) a::before {
          background-position-y: -151px;
        }
        &:nth-child(17) a::before {
          background-position-y: -428px;
        }
        &:nth-child(18) a::before {
          background-position-y: -103px;
        }
        &:nth-child(19) a::before {
          background-position-y: -278px;
        }
        &:nth-child(20) a::before {
          background-position-y: -327px;
        }
        &:nth-child(21) a::before {
          background-position-y: -378px;
        }
        &:nth-child(22) a::before {
          background-position-y: -478px;
        }
      }
    }
    .delivery {
      border: 1px solid $after-color;
      border-radius: 16px;
      height: 19px;
      margin-left: auto;
      margin-top: -3px;
      padding: 4px 8px;
      font-size: 0.8125rem;

      span {
        color: $primary-color;
        font-weight: bold;
      }
    }

    .new,
    .best,
    .shopping,
    .benefits {
      margin: 0 3rem;
    }
  }
  // product-list (e)
}
