@import "variables";
@import "mixins";

.input {
  &--small {
    width: 333px;
    min-height: 44px;
    padding: 0 20px;
  }
  &__default {
    &__text {
      @include input($gray-300, transparent);
    }
  }
}

label {
  &.label {
    &--medium {
      width: 139px;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
