input[class^="input"] {
  @include input(1px, 333px, 44px);
  @include input-color($gray-300, transparent);
  padding: 0 20px;
}

label {
  &.label {
    &--medium {
      width: 139px;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
