main {
  max-width: 1050px;
  margin: 0 auto;
}

section {
  &.signup-container {
    @include flexColumn(center);

    form {
      width: 640px;
    }
  }
  .button__container {
    display: flex;
    justify-content: center;
  }
}

p {
  &.text__right {
    text-align: right;
  }
}
