body {
  width: 100%;
}

.login-container {
  text-align: center;
  width: 360px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;

  h2 {
    @include font($color: $black, $fs: 1.357rem, $fw: 600, $lh: 150%);
  }

  .login-form {
    @include flexAll(column, center, center);
    margin-top: 44px;
    gap: 12px;

    input {
      @include input(1px, 340px, 50px);
      @include font($color: $gray400, $fs: 1rem, $fw: 400, $lh: 160%);
      padding: 12px 20px;
    }

    button {
      order: 1;
      margin-top: 16px;
    }
  }

  .search-containers {
    @include flexAll(row, right, center);
    width: 100%;
    padding-right: 0.8rem;
  }

  .search-container {
    @include flexAll(row, center, center);
    gap: 4px;

    &__item {
      display: flex;
      flex-direction: row;
      @include font($color: $darkBlack, $fs: 0.75rem, $fw: 400, $lh: 160%);
    }
  }

  .button__a {
    display: inline-block;
    align-content: center;
    margin-top: 12px;
  }
}
