@mixin input($bd-px, $wd, $ht) {
  border: $bd-px solid $gray300;
  width: $wd;
  inline-size: $wd;
  height: $ht;
  block-size: $ht;
}

@mixin input-color($bc, $bg) {
  border-color: $bc;
  background-color: $bg;
}

@mixin flexAll($fd: column, $jc: left, $at: left, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $at;
  gap: $gap;
}

@mixin flexColumn($ai) {
  display: flex;
  flex-direction: column;
  align-items: $ai;
}

@mixin absolute($t: auto, $l: auto, $r: auto, $b: auto) {
  position: absolute;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}

@mixin size($w: auto, $h: auto) {
  width: $w;
  inline-size: $w;
  height: $h;
  block-size: $h;
}

// 버튼 스타일 믹스인
@mixin buttonStyle($color, $bgColor, $borderColor) {
  color: $color;
  background-color: $bgColor;
  border: 1px solid $borderColor;
  border-radius: 4px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

@mixin buttonSize($width, $height) {
  width: $width;
  height: $height;
  padding: 0;
}
