@mixin input($bd-px, $wd, $ht) {
  border: $bd-px solid $gray-300;
  width: $wd;
  inline-size: $wd;
  height: $ht;
  block-size: $ht;
}

@mixin input-color($bc, $bg) {
  border-color: $bc;
  background-color: $bg;
}

@mixin flexAll($fd, $jc, $at) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $at;
}

@mixin flexColumn($ai) {
  display: flex;
  flex-direction: column;
  align-items: $ai;
}

// 버튼 스타일 믹스인
@mixin buttonStyle($color, $bgColor, $borderColor) {
  color: $color;
  background-color: $bgColor;
  border: 1px solid $borderColor;
  border-radius: 4px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

@mixin buttonSize($width, $height) {
  width: $width;
  height: $height;
  padding: 0;
}
