.pagination__container {
}

.page {
  &__container {
    @include size(232px, 34px);
    border: 1px solid black;
    @include flexAll(row, left, center, 0);
  }
  &__item {
    @include size(26px, 26px);
    padding: 4px;
    border: 1px solid red;
  }
}

.bg-leftleft {
  width: 9px;
  height: 8px;
  background: url("/images/pagination-sprite.png") -10px -10px;
}
.bg-left {
  width: 5px;
  height: 8px;
  background: url("/images/pagination-sprite.png") -10px -38px;
}
.bg-right {
  width: 5px;
  height: 8px;
  background: url("/images/pagination-sprite.png") -35px -38px;
}
.bg-rightright {
  width: 9px;
  height: 8px;
  background: url("/images/pagination-sprite.png") -39px -10px;
}
