.pop-up-container {
  @include size($w: 440px, $h: 672px);
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 100;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid $darkBlack;
  padding: 0;
  &.is__hide {
    display: none;
  }

  .quick-link {
    @include size($w: 440px, $h: 586px);
    @include absolute($t: 0, $l: 0);
    background-image: url("/images/kurly-popup.jpg");
  }

  .button-container {
    @include size($w: 440px, $h: 86px);
    @include absolute($b: 0, $l: 0);
    display: flex;

    #hidePopup,
    #closePopup {
      @include size($w: 50%, $h: 86px);
      background-color: $white;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      border: none;
    }
    #hidePopup {
      border-right: 1px solid $gray100;
    }
  }
}
