.pop-up-container {
  width: 440px;
  height: 672px;
  border-radius: 16px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
  &.is__hide {
    display: none;
  }

  .quick-link {
    position: absolute;
    width: 440px;
    height: 586px;
    top: 0;
    left: 0;
    background-image: url("/src/component/pop-up/assets/kurly-popup.jpg");
  }

  .button-container {
    width: 440px;
    height: 86px;
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    #hidePopup,
    #closePopup {
      width: 220px;
      height: 86px;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      border: none;
    }
    #hidePopup {
      border-right: 1px solid gray;
    }
  }
}
