.product-slide {
  @include size($w: 1050px);
  max-width: 1050px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;

  .swiper-container {
    @include flexAll($fd: column, $at: center);
    gap: 28px;
    overflow: hidden;
    h2 {
      @include font($fs: 28.43px, $fw: 700, $lh: 140%);
    }
  }

  .swiper-slide {
    position: relative;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include size($w: 60px, $h: 60px);
    z-index: 10;
    top: 260px;
    border: none;
    background-color: transparent;
    background-image: url("/images/next-button-black.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev {
    transform: rotate(180deg);
    left: -30px;
  }

  .swiper-button-next {
    right: -30px;
  }

  .swiper-button-next.is__hide,
  .swiper-button-prev.is__hide {
    display: none;
  }
}
