.product {
  box-sizing: border-box;

  .visual {
    position: relative;

    &__link {
      display: inline-block;
      @include size($w: 249px, $h: 320px);

      img {
        @include size($w: 100%, $h: 100%);
      }
    }

    &__add-cart {
      @include absolute($b: 17px, $r: 15px);
      z-index: 1;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .info {
    @include flexAll($fd: column, $jc: flex-start, $at: stretch);
    gap: 8px;
    margin-top: 16px;
    &__product__title {
      @include font($fw: 400, $fs: 1rem, $lh: 160%);
    }
    &__sale__price {
      color: $accentColor;
    }
    &__product__price {
      @include font($fw: 600, $fs: 1.375rem, $lh: 150%);
    }
    &__product__original-price {
      @include font($fw: 400, $fs: 0.725rem, $lh: 160%);

      text-decoration: line-through;
      color: $gray400;
    }
    &__product__description {
      @include font($fw: 400, $fs: 0.725rem, $lh: 160%);

      color: $gray400;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 40px auto 0;

    .product__img__container {
      max-width: 400px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .product__info__container {
      width: 100%;
      max-width: 560px;

      .title__primary,
      .title__secondary,
      .title__price,
      .text__primary__color {
        margin-bottom: 16px;
      }
      .product__price__container {
        width: 100%;
        padding: 28px 0 20px;
        text-align: right;

        .product__button__container {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        .product__final__price {
          margin-bottom: 30px;

          .text__price {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  &__detail__review {
    width: 1050px;
    margin: 0 auto;

    .product__review {
      &__container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.product__info__table {
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
  max-width: 560px;
  border-collapse: collapse;

  th,
  td {
    padding: 16px 0;
    color: $gray500;
  }

  th {
    min-width: 128px;
    text-align: left;
    vertical-align: text-top;
    font-size: 0.75rem;
    border-top: 1px solid $gray100;
    border-bottom: 1px solid $gray100;
  }
  td {
    font-size: 0.75rem;
    border-top: 1px solid $gray100;
    border-bottom: 1px solid $gray100;

    li {
      margin-left: 10px;
      line-height: 150%;
    }

    p {
      margin: 0;
    }
    .product__count {
      border: 1px solid $gray100;
      padding: 12px 16px;

      &__button {
        display: inline-flex;
        width: auto;
        border: 1px solid $gray200;
        align-items: center;
        gap: 8px;
      }
    }
  }
  &.product__table__detail {
    max-width: none;
  }
}
