.recent-product-container {
  width: 74px;
  border: 1px solid $gray200;
  box-sizing: border-box;
  @include flexColumn(center);
  gap: 8px;
  padding: 8px;
  margin: 0;

  .swiper-button-prev,
  .swiper-button-next {
    // appearance: none;
    // background-color: inherit;
    // border: 1px solid black;
    vertical-align: center;
    padding: 0;
    height: 18px;
    width: 18px;
    &:hover {
      cursor: pointer;
    }
  }
  .swiper-button-prev {
    -webkit-mask: url("/images/upper.svg");
    mask: url("/images/upper.svg");
    background-color: #999999;
    &.is__active {
      background-color: #333;
    }
  }
  .swiper-button-next {
    -webkit-mask: url("/images/below.svg");
    mask: url("/images/below.svg");
    background-color: #999999;
    &.is__active {
      background-color: #333;
    }
  }
  .swiper-container {
    max-height: 129px;
    overflow: hidden;

    .swiper-slide {
      @include size(40px, 51.406px);
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  p {
    font-size: 0.71875rem;
    text-align: center;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
    color: black;
  }
}

.product-menu-item {
  margin-top: 50px;
  li {
    margin: 20px;
    border: 1px solid black;
    list-style: none;
    &:hover {
      cursor: pointer;
    }
  }
}
