.recent-product {
  position: absolute;
  right: 0;
  top: 600px;
  z-index: 11;
}

.recent-product-container {
  @include size($w: 74px);
  @include flexAll($fd: column, $jc: center, $at: center, $gap: 8px);
  position: sticky;
  top: 100px;
  border: 1px solid $gray200;
  box-sizing: border-box;
  padding: 8px;
  margin-right: 20px;
  background-color: $white;
  z-index: 100;

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    @include size($w: 18px, $h: 18px);
    padding: 0;
    background-image: url("/images/upper.svg");
    background-repeat: no-repeat;
    margin: 0;
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    transform: rotate(180deg);
  }

  .swiper-container {
    max-height: 129px;
    overflow: hidden;

    .swiper-slide {
      @include size($w: 40px, $h: 50px);
      img {
        @include size($w: 100%, $h: 100%);
      }
    }
  }
  p {
    @include font($fs: 0.7rem, $fw: 600, $lh: 150%);
    text-align: center;
    margin: 0;
  }
}

.product-menu-item {
  margin-top: 50px;
  li {
    margin: 20px;
    border: 1px solid black;
    list-style: none;
    &:hover {
      cursor: pointer;
    }
  }
}
