.signup-container {
  .input__default__text {
    width: 333px;
  }
  .register__address__container {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
  }
  .form__agreement {
    width: 100%;

    .form__agreement__row {
      position: relative;
      justify-content: space-between;

      .text__subscript {
        margin-left: 1.75rem;
      }
    }
  }
  .register__container {
    position: relative;
    width: 100%;

    .register__result {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 149px;
    }
  }
}
