.sr-only {
  background-color: red;
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  /* overflow: hidden; */
  /* top: -9999px; */
  /* inset-block-start: -9999px; */
  clip-path: polygon(0 0, 0 0, 0 0);
}
