h1 {
  @include font($fw: 600, $fs: 1.75rem, $lh: 150%);
  color: $black;
}
h2 {
  @include font($fw: 700, $fs: 1.375rem, $lh: 140%);

  &.title__primary {
    color: $gray500;
  }
}
h3 {
  @include font($fw: 400, $fs: 1rem, $lh: 160%);

  &.title__secondary {
    color: $gray400;
  }
  &.title__price {
    font-weight: 700;
  }
  .price__emphasis {
    @include font($fw: 600, $fs: 1.75rem, $lh: 150%);
  }
}
p {
  @include font($fw: 400, $fs: 0.75rem, $lh: 150%);
  color: $gray400;

  &.text {
    &__primary__color {
      font-weight: 600;
      color: $primaryColor;
    }
    &__price {
      font-weight: 600;
      font-size: 1rem;
      color: $darkBlack;
    }
  }
}

.price__emphasis {
  @include font($fw: 600, $fs: 1.75rem, $lh: 150%);
}
