h1 {
  font-size: $fontMedium;
  line-height: 1.6;
  font-weight: 400;
  color: $black;
  margin: 0;
}
h2 {
}
p {
  font-size: $fontSmall;
  line-height: 1.5;
  color: $gray400;
  font-weight: 400;
}
