$white: #fff;
$gray050: #f9f9f9;
$gray070: #f2f5f8;
$gray100: #e1e1e1;
$gray200: #c4c4c4;
$gray300: #a6a6a6;
$gray400: #898989;
$gray500: #6b6b6b;
$black: #333;
$darkBlack: #000;
$blue500: #06f;
$primaryColor: #5f0080;
$secondaryColor: #bd76ff;
$errorColor: #f03f40;
$accentColor: #fa622f;
$successColor: #3ef071;
