$gray-200: #c4c4c4;
$gray-300: #a6a6a6;
$gray-400: #898989;
$gray-500: #6b6b6b;
$black: #333;
$primary-color: #5f0080;
$error-color: #f03f40;
$font-small: 0.75rem;
$font-medium: 1rem;
$font-large: 1.25rem;
