<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아코디언 확인</title>
  </head>
  <body>
    <article>
      <ul>
        <li>
          필터
          <button></button>
        </li>
        <li>
          <button>
            <div>카테고리</div>
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M5 11L9 7L13 11" stroke="#999999" stroke-width="1.2" />
            </svg>
          </button>
        </li>
        <li>브랜드</li>
        <li>가격</li>
        <li>혜택</li>
        <li>유형</li>
        <li>특정 상품 제외</li>
      </ul>
    </article>
  </body>
</html>
