<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/style.scss" />
    <script
      type="module"
      src="/src/component/addShoppingBasket/addShoppingBasket.js"
    ></script>
    <title>장바구니 추가</title>
  </head>
  <body>
    <section class="basket-container">
      <article class="basket-container__product__num__container">
        <p>[풀무원] 탱탱 쫄면(4개입)</p>
        <div class="basket-container__product__num__container__box">
          <span>4890원</span>
          <div class="price_counter">
            <button>
              <img
                src="/src/component/assets/img/minus-button-black.svg"
                alt=""
              />
            </button>
            <span>0</span>
            <button>
              <img
                src="/src/component/assets/img/plus-button-black.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </article>
      <article class="basket-container__price__container">
        <div class="basket-container__price__container__sum">
          <span>합계</span>
          <span id="total">4980원</span>
        </div>
        <div class="basket-container__price__container__bonus">
          <span>구매시 5원 적립</span>
        </div>
      </article>
      <ul class="basket-container__btn_container">
        <li class="basket-container__btn_container__items">
          <button class="button__stroke__gray button__large__basket">
            취소
          </button>
        </li>
        <li class="basket-container__btn_container__items">
          <button class="button__fill button__large__basket">
            장바구니 담기
          </button>
        </li>
      </ul>
    </section>
  </body>
</html>
